<mat-card>
  <mat-card-title>Random Album List</mat-card-title>

  <mat-card-actions>
    <button mat-raised-button color="secondary" (click)="refresh()" 
            type="button">Refresh</button>
    <button mat-raised-button color="secondary" 
            (click)="loadHref(item.value.href)" 
            *ngFor="let item of decades | keyvalue"
            type="button">{{item.value.name}}</button>
    <button mat-raised-button color="secondary" 
            (click)="loadHref(item.value.href)" 
            *ngFor="let item of years | keyvalue"
            type="button">{{item.value.name}}</button>
  </mat-card-actions>

  <mat-card-content>

    <div class="example-loading-shade"
      *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>

    <app-album-list [albums]="albums" 
    [resultsLength] ="20"
    [size]="20"
    matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
  </app-album-list>
    


  </mat-card-content>

</mat-card>
      
